<!-- main -->
<script src="../../../../.config/JetBrains/WebStorm2021.3/javascript/extLibs/http_api.forecast.solar_chart_5309117d.js"></script>
<div class="main">
    <div class="topbar">
        <div class="title_page">
            Default
        </div>
        <!-- userImg -->
<!--        <div class="user">-->
<!--        </div>-->
    </div>

    <!-- cards -->
    <div class="cardBox">

        <div class="card">
            <div>
                <div class="numbers" id="throttle">
                    156W
                </div>
                <div class="cardName">Current power</div>
            </div>
            <div class="iconBx">
                <ion-icon name="speedometer-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers" id="brake">
                    1.5kWh
                </div>
                <div class="cardName">Daily power</div>
            </div>
            <div class="iconBx">
                <ion-icon name="cog-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">
                    401W
                </div>
                <div class="cardName">Peak Power</div>
            </div>
            <div class="iconBx">
                <ion-icon name="flash-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers" id="steering">
                    1.4kr
                </div>
                <div class="cardName">Earning today</div>
            </div>
            <div class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </div>
        </div>
    </div>

    <!--<div id="graph" style="text-align: center;"></div>-->
    <div class="details">
        <!-- order details list -->
        <div class="recentAlarms">
            <div class="cardHeader">
                <h2>Recent Alarm</h2>
                <a href="#" class="btn">Acknowledge All</a>

            </div>
            <canvas id="myChart"></canvas>
            <canvas id="myChartMonth"></canvas>

        </div>

    </div>

</div>
