<!-- main -->
<div class="main">
    <div class="topbar">
        <div class="title_page">
            Control Entry Point
        </div>
        <!-- search -->
        <div class="search">
            <label>
                <input type="text" placeholder="Search here">
                <ion-icon name="search-outline"></ion-icon>
            </label>
        </div>
        <!-- userImg -->
        <div class="user">
            <img src="user.jpg">
        </div>
    </div>

    <!-- cards -->
    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers" id="throttle">
                    45.4 kmh
                </div>
                <div class="cardName">Vehicle speed</div>
            </div>
            <div class="iconBx">
                <ion-icon name="eye-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers" id="brake">
                    80
                </div>
                <div class="cardName">Sales</div>
            </div>
            <div class="iconBx">
                <ion-icon name="cart-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">284</div>
                <div class="cardName">Comments</div>
            </div>
            <div class="iconBx">
                <ion-icon name="chatbubbles-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers" id="steering">
                    $7,842
                </div>
                <div class="cardName">Earning</div>
            </div>
            <div class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </div>
        </div>
    </div>


    <div class="details">
        <!-- order details list -->
        <div class="recentAlarms">
            <div class="cardHeader">
                <h2>Recent Alarm</h2>
                <a href="#" class="btn">View All</a>
            </div>
            <table>
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Severity</td>
                    <td>Type</td>
                    <td>Code</td>
                    <td>Status</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Odometry timeout</td>
                    <td>Major</td>
                    <td>External</td>
                    <td>0x031</td>
                    <td><span class="status active">Active</span></td>
                </tr>
                <tr>
                    <td>Window Coolers</td>
                    <td>$110</td>
                    <td>Due</td>
                    <td><span class="status pending">Unacknowledge</span></td>
                </tr>
                <tr>
                    <td>Speakers</td>
                    <td>$620</td>
                    <td>Paid</td>
                    <td><span class="status return">Cleared</span></td>
                </tr>
                <tr>
                    <td>Hp Laptop</td>
                    <td>$110</td>
                    <td>Due</td>
                    <td><span class="status inprogress">Acknowledge</span></td>
                </tr>
                <tr>
                    <td>Apple Watch</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status active">Active</span></td>
                </tr>
                <tr>
                    <td>Wall Fan</td>
                    <td>$110</td>
                    <td>Paid</td>
                    <td><span class="status pending">Unacknowledge</span></td>
                </tr>
                <tr>
                    <td>Adidas Shoes</td>
                    <td>$620</td>
                    <td>Paid</td>
                    <td><span class="status return">Cleared</span></td>
                </tr>
                <tr>
                    <td>Denim Shirts</td>
                    <td>$110</td>
                    <td>Due</td>
                    <td><span class="status inprogress">In Progress</span></td>
                </tr>
                <tr>
                    <td>Casual Shoes</td>
                    <td>$575</td>
                    <td>Paid</td>
                    <td><span class="status pending">Unacknowledge</span></td>
                </tr>
                <tr>
                    <td>Wall Fan</td>
                    <td>$110</td>
                    <td>Paid</td>
                    <td><span class="status pending">Unacknowledge</span></td>
                </tr>
                <tr>
                    <td>Denim Shirts</td>
                    <td>$110</td>
                    <td>Due</td>
                    <td><span class="status inprogress">In Progress</span></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- New Operators -->
        <div class="recentOperators">
            <div class="cardHeader">
                <h2>Recent Operators</h2>
            </div>
            <table>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="img1.jpg"></div></td>
                    <td><h4>David<br><span>Italy</span></h4></td>
                </tr>
                <tr>
                    <td><div class="imgBx"><img src="img2.jpg"></div></td>
                    <td><h4>Muhammad<br><span>India</span></h4></td>
                </tr>
                <tr>
                    <td><div class="imgBx"><img src="img3.jpg"></div></td>
                    <td><h4>Amelia<br><span>France</span></h4></td>
                </tr>
                <tr>
                    <td><div class="imgBx"><img src="img4.jpg"></div></td>
                    <td><h4>Olivia<br><span>USA</span></h4></td>
                </tr>
                <tr>
                    <td><div class="imgBx"><img src="img5.jpg"></div></td>
                    <td><h4>Amit<br><span>Japan</span></h4></td>
                </tr>
                <tr>
                    <td><div class="imgBx"><img src="img6.jpg"></div></td>
                    <td><h4>Ashraf<br><span>India</span></h4></td>
                </tr>
                <tr>
                    <td><div class="imgBx"><img src="img7.jpg"></div></td>
                    <td><h4>Diana<br><span>Malaysia</span></h4></td>
                </tr>
                <tr>
                    <td><div class="imgBx"><img src="img8.jpg"></div></td>
                    <td><h4>Amit<br><span>India</span></h4></td>
                </tr>

            </table>
        </div>


    </div>

</div>