<div class="navigation">
  <ul>
    <li>
      <a href="entry_point.html">
        <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
        <span class="title">Terminal Tractor</span>
      </a>
    </li>
    <li>
      <a href="entry_point.html">
        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
        <span class="title">Entry point</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
        <span class="title">Vehicle drive</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
        <span class="title">Odometry</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon"><ion-icon name="help-outline"></ion-icon></span>
        <span class="title">Backup</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
        <span class="title">Settings</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
        <span class="title">Password</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
        <span class="title">Sign Out</span>
      </a>
    </li>
  </ul>
</div>